{{template "admin" .}}

{{define "title"}}Admin: All Followers{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/admin.css">
{{end}}

{{define "content"}}
{{$followers := index .Data "followers"}}
{{$followerDatas := index .Data "followerDatas"}}
{{$allAuthors := index .Data "allAuthors"}}
{{$allUsers := index .Data "allUsers"}}
<div>
    <div class="d-flex d-flex-col d-gap align-center m-d5">
        <h1>User to follow author</h1>
        <form action="/admin/followers/create" method="post" id="createForm" class="d-flex d-flex-col align-center">
            <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
            <div>
                <label for="author_id">Author: </label>
                <select name="author_id" id="author_id">
                    {{range $allAuthors}}
                    <option value="{{.ID}}">{{.FirstName}} {{.LastName}}</option>
                    {{end}}
                </select>
                {{with .Form.Errors.Get "author_id"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div>
                <label for="user_id">User: </label>
                <select name="user_id" id="user_id">
                    {{range $allUsers}}
                    <option value="{{.ID}}">{{.Username}}</option>
                    {{end}}
                </select>
                {{with .Form.Errors.Get "user_id"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <input type="submit" value="Add" class="add-button">
        </form>
    </div><hr>
    <section class="container d-flex-col d-dark b-radius m-br2">
        <div class="d-flex justify-center d-gap search-all-books">
            <input type="hidden" id="search-type" value="admin-followers">
            <input type="search" class="search-all-books-input" id="search-book" placeholder="Search Read List..." onkeyup="display()">
            <select id="order" onchange="display()">
                <option value="asc">Ascending Order</option>
                <option value="desc" >Descending Order</option>
            </select>
            <select id="limit" onchange="display()">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </section>
    <div class="main-content-title d-gap align-center">
        <h1>All Follower List</h1>
    </div>
    
    <!-- This is the table section -->
    <div class="main-content-table">
        <table>
            <!-- header section -->
            <thead>
                <tr>
                    <th>BOOK NAME</th>
                    <th>USERNAME</th>
                    <th>CREATED AT</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <!-- body section -->
            <tbody id="displayDiv">
                
            </tbody>
        </table>
    </div>
    <nav class="pagination-container">

        <div id="pagination-numbers">

        </div>

    </nav>
</div>
{{end}}

{{define "js"}}
    <script src="/static/js/admin.js"></script>
    <script src="/static/js/search.js"></script>
{{end}}