{{template "admin" .}}

{{define "css"}}
<link rel="stylesheet" href="/static/css/admin.css">
{{end}}

{{define "title"}}Admin: All Reviews{{end}}


{{define "content"}}
<section class="main-content">

    <section class="container d-flex-col d-dark b-radius m-br2">
        <div class="d-flex justify-center d-gap search-all-books">
            <input type="hidden" id="search-type" value="admin-reviews">
            <input type="search" class="search-all-books-input" id="search-book" placeholder="Search User..." onkeyup="display()">
            <select id="order" onchange="display()">
                <option value="asc">Ascending Order</option>
                <option value="desc" >Descending Order</option>
            </select>
            <select id="limit" onchange="display()">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </section>

    <!-- This is the title section -->
    <div class="main-content-title d-gap align-center">
        <h1>All Reviews</h1>
        <button class="add-button"><a href="/admin/reviews/create">ADD</a></button>
    </div>
    
    <!-- This is the table section -->
    <div class="main-content-table w-fit">
        <table>
            <!-- header section -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>RATING</th>
                    <th>USERNAME</th>
                    <th>BOOK TITLE</th>
                    <th>CREATED AT</th>
                    <th>UPDATED AT</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <!-- body section -->
            <tbody id="displayDiv">
                
            </tbody>
        </table>
    </div>
    <nav class="pagination-container">

        <div id="pagination-numbers">

        </div>

    </nav>
</section>
</section>
{{end}}

{{define "js"}}
<script src="/static/js/admin.js"></script>
<script src="/static/js/search.js"></script>
{{end}}
