{{template "admin" .}}

{{define "title"}}Admin: All Book Authors{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/admin.css">
{{end}}

{{define "content"}}
{{$bookAuthors := index .Data "bookAuthors"}}
{{$bookAuthorDatas := index .Data "bookAuthorDatas"}}
{{$allBooks := index .Data "allBooks"}}
{{$allAuthors := index .Data "allAuthors"}}
<div>
    <div>
        <h1>Add Book Author</h1>
        <form action="/admin/bookAuthors/create" method="post" id="createForm">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <div>
                <label for="book_id">Book: </label>
                <select name="book_id" id="book_id">
                    {{range $allBooks}}
                    <option value="{{.ID}}">{{.Title}}</option>
                    {{end}}
                </select>
                {{with .Form.Errors.Get "book_id"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div>
                <label for="author_id">Author: </label>
                <select name="author_id" id="author_id">
                    {{range $allAuthors}}
                    <option value="{{.ID}}">{{.FirstName}} {{.LastName}}</option>
                    {{end}}
                </select>
                {{with .Form.Errors.Get "author_id"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <input type="submit" value="Add">
        </form>
    </div><hr>
    <div>
        <h1>All Author Book</h1>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Book</th>
                    <th>Author</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{range $bookAuthorDatas}}
                <tr>
                    
                    <td>{{.BookData.Title}}</td>
                    <td>{{.AuthorData.FirstName}} {{.AuthorData.LastName}}</td>
                    <td>
                        <button><a href="/admin/bookAuthors/detail/{{.BookData.ID}}/{{.AuthorData.ID}}">Detail</a></button>
                        <button onclick="openModal('delete-{{.BookData.ID}}-{{.AuthorData.ID}}')">Delete</button>
                        <div id="delete-{{.BookData.ID}}-{{.AuthorData.ID}}" class="jw-modal">
                            <div class="jw-modal-body">
                                <form action="/admin/bookAuthors/detail/{{.BookData.ID}}/{{.AuthorData.ID}}/delete" method="post">
                                    <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                                    <p>Do you want to delete this relation ship?</p>
                                    <input type="submit" value="Delete">
                                    <button onclick="closeModal()" type="button">No</button>
                                </form>
                            </div>
                        </div>
                        
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}

{{define "js"}}
    <script src="/static/js/admin.js"></script>
{{end}}