{{template "admin" .}}

{{define "title"}}Admin: All ReadList{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/admin.css">
{{end}}

{{define "content"}}
{{$readLists := index .Data "readLists"}}
{{$readListDatas := index .Data "readListDatas"}}
{{$allBooks := index .Data "allBooks"}}
{{$allUsers := index .Data "allUsers"}}
<div>
    <div>
        <h1>Add Book to User ReadList</h1>
        <form action="/admin/readLists/create" method="post" id="createForm">
            <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
            <div>
                <label for="book_id">Book: </label>
                <select name="book_id" id="book_id">
                    {{range $allBooks}}
                    <option value="{{.ID}}">{{.Title}}</option>
                    {{end}}
                </select>
                {{with .Form.Errors.Get "book_id"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div>
                <label for="user_id">User: </label>
                <select name="user_id" id="user_id">
                    {{range $allUsers}}
                    <option value="{{.ID}}">{{.Username}}</option>
                    {{end}}
                </select>
                {{with .Form.Errors.Get "user_id"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <input type="submit" value="Add">
        </form>
    </div><hr>
    <div>
        <h1>Read List</h1>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>User ID</th>
                    <th>Created At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{range $readListDatas}}
                <tr>
                    
                    <td>{{.BookData.Title}}</td>
                    <td>{{.UserData.Username}}</td>
                    <td>{{TimeSince .CreatedAt}}</td>
                    <td>
                        <button><a href="/admin/readLists/detail/{{.BookData.ID}}/{{.UserData.ID}}">Detail</a></button>
                        <button  onclick="openModal('delete-{{.BookData.ID}}-{{.UserData.ID}}')">Delete</button>
                        <div id="delete-{{.BookData.ID}}-{{.UserData.ID}}" class="jw-modal">
                            <div class="jw-modal-body">
                                <form action="/admin/readLists/detail/{{.BookData.ID}}/{{.UserData.ID}}/delete" method="post">
                                    <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                                    <p>Do you want to delete this relation ship?</p>
                                    <input type="submit" value="Delete">
                                    <button onclick="closeModal()" type="button">No</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}

{{define "js"}}
    <script src="/static/js/admin.js"></script>
{{end}}