{{template "admin" .}}

{{define "title"}}Admin: Detail Genre{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/admin.css">
{{end}}

{{define "content"}}
    <div>
        <h1>Detail</h1>
    </div>
    <div>
    {{$res := index .Data "genre"}}
        <form action="/admin/genres/detail/{{$res.ID}}" method="post">
            <input type="hidden" name="csrf_token" id="csrf_token" value="{{.CSRFToken}}">
            <input type="text" name="title" id="title" value="{{$res.Title}}">
            {{with .Form.Errors.Get "title"}}
            <label>{{.}}</label>
            {{end}}
            <input type="submit" value="update">
        </form>
        <button type="button" onclick="showDeleteForm(this, '{{$res.ID}}')" id="delete-{{$res.ID}}">Delete</button>
        <form action="/admin/genres/detail/{{$res.ID}}/delete" method="post" class="no-display" id="{{$res.ID}}">
            <h1>Do you want to delete @{{$res.Title}}?</h1>
            <input type="hidden" name="csrf_token" id="csrf_token" value="{{.CSRFToken}}">
            <input type="submit" value="Delete">
            <button type="button" onclick="removeForm('{{$res.ID}}')">No</button>
        </form>
    </div>
{{end}}

{{define "js"}}
    <script src="/static/js/admin.js"></script>
{{end}}