{{template "admin" .}}

{{define "title"}}Admin: Add Author{{end}}

{{define "content"}}
{{$res := index .Data "author"}}
<div>
    <div>
        <h1>Add New Author</h1>
    </div>
    <div>
        <form action="/admin/authors/create" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value={{.CSRFToken}}>
            <div>
                <label for="first_name">First Name: </label>
                <input type="text" name="first_name" id="first_name" value="{{$res.FirstName}}">
                {{with .Form.Errors.Get "first_name"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div>
                <label for="last_name">Last Name: </label>
                <input type="text" name="last_name" id="last_name" value="{{$res.LastName}}">
                {{with .Form.Errors.Get "last_name"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div>
                <label for="bio">Bio: </label>
                <input type="text" name="bio" id="bio" value="{{$res.Bio}}">
                {{with .Form.Errors.Get "bio"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div>
                <label for="date_of_birth">Date of Birth (Year): </label>
                <input type="text" name="date_of_birth" id="date_of_birth" value="{{$res.DateOfBirth}}">
                {{with .Form.Errors.Get "date_of_birth"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div>
                <label for="email">Email: </label>
                <input type="text" name="email" id="email" value="{{$res.Email}}">
                {{with .Form.Errors.Get "email"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div>
                <label for="country_of_origin">Country of Origin: </label>
                <input type="text" name="country_of_origin" id="country_of_origin" value="{{$res.CountryOfOrigin}}">
                {{with .Form.Errors.Get "country_of_origin"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div>
                <label for="avatar">Avatar: </label>
                <input type="file" name="avatar" id="avatar" type="image/jpeg, image/png">
                {{with .Form.Errors.Get "avatar"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <input type="submit" value="Add Author">
        </form>
    </div>
</div>
{{end}}