{{template "admin" .}}

{{define "title"}}Admin: Author Detail{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/admin.css">
{{end}}

{{define "content"}}
{{$res := index .Data "author"}}
<div class="d-flex d-flex-col d-gap m-d5 align-center">
    <h1>Author Detail</h1>
</div>
<div>
    <div class="d-flex d-flex-col d-gap align-center">
        <form action="/admin/authors/detail/{{$res.ID}}/update" method="post">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <div class="d-flex d-gap justify-between align-center m-d5">
                <label for="first_name">First Name: </label>
                <input class="c-attribute" type="text" name="first_name" id="first_name" value="{{$res.FirstName}}">
            </div>
            <div class="d-flex d-gap justify-between align-center m-d5">
                <label for="last_name">Last Name: </label>
                <input class="c-attribute" type="text" name="last_name" id="last_name" value="{{$res.LastName}}">
            </div>
            <div class="d-flex d-gap justify-between align-center m-d5">
                <label for="bio">Bio: </label>
                <input class="c-attribute" type="text" name="bio" id="bio" value="{{$res.Bio}}">
            </div>
            <div class="d-flex d-gap justify-between align-center m-d5">
                <label for="date_of_birth">Date of Birth: </label>
                <input class="c-attribute" type="text" name="date_of_birth" id="date_of_birth" value="{{$res.DateOfBirth}}">
            </div>
            <div class="d-flex d-gap justify-between align-center m-d5">
                <label for="email">Email: </label>
                <input class="c-attribute" type="text" name="email" id="email" value="{{$res.Email}}">
            </div>
            <div class="d-flex d-gap justify-between align-center m-d5">
                <label for="country_of_origin">Country of Origin: </label>
                <input class="c-attribute" type="text" name="country_of_origin" id="country_of_origin" value="{{$res.CountryOfOrigin}}">
            </div>
            <div class="d-flex d-gap justify-between align-center m-d5">
                <label for="avatar">Avatar: </label>
                <input class="c-attribute" type="text" name="avatar" id="avatar" value="{{$res.Avatar}}">
            </div>
            <div class="d-flex justify-center align-center">
                <input type="submit" value="Update" class="add-button">
            </div>
        </form>
    <div class="d-flex d-gap justify-between align-center">
        <button onclick="openModal('delete-{{$res.ID}}')" class="del-button">Delete</button>
    </div>
    <div id="delete-{{$res.ID}}" class="jw-modal">
        <div class="jw-modal-body">
            <form action="/admin/authors/detail/{{$res.ID}}/delete" method="post">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <p>Do you want to delete author @{{$res.FirstName}}?</p>
                <input type="submit" value="Delete" class="del-button">
                <button type="button" onclick="closeModal()" class="add-button">No</button>
            </form>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
    <script src="/static/js/admin.js"></script>
{{end}}