{{template "admin" .}}

{{define "title"}}New User{{end}}

{{define "content"}}
{{$res := index .Data "register"}}
    <div>
        <div>
            <h1 class="text-center">Create New User</h1>
        </div>
    </div>
    <div>
        <section class="d-flex d-gap justify-center align-center m-br2">
            <form method="post" action="/admin/users/create">
                <input type="hidden" name="csrf_token" id="csrf_token" value="{{.CSRFToken}}">
                
                <div class="from-add-user">
                    <input class="c-attribute" type="text" placeholder="Username" name="username"/>
                    {{with .Form.Errors.Get "username"}}
                        <label>{{.}}</label>
                        {{end}}
                    <input class="c-attribute" type="email" placeholder="Email" name="email"/>
                    {{with .Form.Errors.Get "email"}}
                        <label>{{.}}</label>
                        {{end}}
                    <input class="c-attribute" type="password" placeholder="Password" name="password"/>
                    {{with .Form.Errors.Get "password"}}
                        <label>{{.}}</label>
                        {{end}}
                    <div class="add-form-buttons">
                        <button class="c-b-attribute register-button" type="submit"> Register </button>
                    </div>
                </div>
            </form>
            
            <!-- Register Form -->
        </section>
    </div>
{{end}}