{{template "admin" .}}

{{define "css"}}
<link rel="stylesheet" href="/static/css/admin.css">
{{end}}

{{define "title"}}Admin: All Users{{end}}


{{define "content"}}
    <div>
        <div>
            <h1>All Users</h1>
        </div>
        <div>
            <button><a href="/admin/users/create">Add</a></button>
        </div>
        <div>
            {{$users := index .Data "users"}}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Access Level</th>
                        <th>CreatedAt</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $users}}
                    <tr>
                        <td>{{.ID}}</td>
                        <td>{{.Username}}</td>
                        <td>{{.AccessLevel}}</td>
                        <td>{{TimeSince .CreatedAt}}</td>
                        <td>
                            <button><a href="/admin/users/detail/{{.ID}}">Detail</a></button>
                            <button onclick="openModal('delete-{{.ID}}')">Delete</button>
                            
                            <div class="jw-modal" id="delete-{{.ID}}">
                                <div class="jw-modal-body">
                                    <form action="/admin/users/detail/{{.ID}}/delete" method="post">
                                        <input type="hidden" name="csrf_token" id="csrf_token" value="{{$.CSRFToken}}">
                                        <p>Do you want to delete @{{.Username}}?</p>
                                        <input type="submit" value="Delete Record">
                                        <button type="button" onclick="closeModal()">No</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
{{end}}

{{define "js"}}
<script src="/static/js/admin.js"></script>
{{end}}
