{{template "admin" .}}

{{define "title"}}Admin: Detail BuyList{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/admin.css">
{{end}}

{{define "content"}}
{{$allBooks := index .Data "allBooks"}}
{{$allUsers := index .Data "allUsers"}}
{{$book := index .Data "book"}}
{{$user := index .Data "user"}}
{{$buyList := index .Data "buyList"}}
<div>
    <div class="d-flex d-flex-col d-gap justify-center align-center m-d5">
        <h1>Buy List Detail</h1>
    </div>
    <div class="d-flex d-flex-col d-gap justify-center align-center m-d5">
        <form action="/admin/buyLists/detail/{{$book.ID}}/{{$user.ID}}/update" method="post">
            <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
            <div class="d-flex d-gap justify-center align-center m-d5">
                <label for="book_id">Book: </label>
                <select name="book_id" id="book_id">
                    <option value="{{$book.ID}}">{{$book.Title}}</option>
                    {{range $allBooks}}
                    {{if ne .ID $book.ID}}
                    <option value="{{.ID}}">{{.Title}}</option>
                    {{end}}
                    {{end}}

                </select>
                {{with .Form.Errors.Get "book_id"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div class="d-flex d-gap justify-center align-center m-d5">
                <label for="user_id">Language: </label>
                <select name="user_id" id="user_id">
                    <option value="{{$user.ID}}">{{$user.Username}}</option>
                    {{range $allUsers}}
                    {{if ne .ID $user.ID}}
                    <option value="{{.ID}}">{{.Username}}</option>
                    {{end}}
                    {{end}}
                </select>
                {{with .Form.Errors.Get "user_id"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
           <div class="d-flex d-flex-col d-gap justify-center align-center m-d5">
            <p><strong>Added At: </strong>{{TimeSince $buyList.CreatedAt}}</p>
            <input type="submit" value="Update" class="add-button">
            <button type="button" onclick="openModal('delete-{{$book.ID}}-{{$user.ID}}')" class="del-button">Delete</button>
           </div>
        </form>
        <div id="delete-{{$book.ID}}-{{$user.ID}}" class="jw-modal">
            <div class="jw-modal-body">
                <form action="/admin/buyLists/detail/{{$book.ID}}/{{$user.ID}}/delete" method="post"> 
                    <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                    <p>Do you want to delete this relationship?</p>
                    <input type="submit" value="Delete" class="del-button">
                    <button type="button" onclick="closeModal()" class="add-button">No</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
    <script src="/static/js/admin.js"></script>
{{end}}