{{template "admin" .}}

{{define "title"}}Admin: All Book Authors{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/admin.css">
{{end}}

{{define "content"}}
{{$bookAuthorDatas := index .Data "bookAuthorDatas"}}
{{$allBooks := index .Data "allBooks"}}
{{$allAuthors := index .Data "allAuthors"}}
<div>
    <div class="d-flex d-flex-col align-center text-center d-gap">
        <h1>Add Book Author</h1>
        <form action="/admin/bookAuthors/create" method="post" id="createForm" class="d-flex d-flex-col align-center d-gap">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <div class="d-flex d-gap justify-between align-center">
                <label for="book_id">Book: </label>
                <select name="book_id" id="book_id">
                    {{range $allBooks}}
                    <option value="{{.ID}}">{{.Title}}</option>
                    {{end}}
                </select>
                {{with .Form.Errors.Get "book_id"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div class="d-flex d-gap justify-between align-center">
                <label for="author_id">Author: </label>
                <select name="author_id" id="author_id">
                    {{range $allAuthors}}
                    <option value="{{.ID}}">{{.FirstName}} {{.LastName}}</option>
                    {{end}}
                </select>
                {{with .Form.Errors.Get "author_id"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <input type="submit" value="Add" class="add-button">
        </form>
    </div>
    <section class="container d-flex-col d-dark b-radius m-br2">
        <div class="d-flex justify-center d-gap search-all-books">
            <input type="hidden" id="search-type" value="admin-bookauthors">
            <input type="search" class="search-all-books-input" id="search-book" placeholder="Search User..." onkeyup="display()">
            <select id="order" onchange="display()">
                <option value="asc">Ascending Order</option>
                <option value="desc" >Descending Order</option>
            </select>
            <select id="limit" onchange="display()">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </section>
    <div class="main-content-title">
        <h1>All Book Authors</h1>
    </div>
    
    <!-- This is the table section -->
    <div class="main-content-table">
        <table>
            <!-- header section -->
            <thead>
                <tr>
                    <th>BOOK NAME</th>
                    <th>AUTHOR NAME</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <!-- body section -->
            <tbody id="displayDiv">
                
            </tbody>
        </table>
    </div>
    <nav class="pagination-container">

        <div id="pagination-numbers">

        </div>

    </nav>
</div>
{{end}}

{{define "js"}}
    <script src="/static/js/admin.js"></script>
    <script src="/static/js/search.js"></script>
{{end}}