{{template "admin" .}}

{{define "title"}}Admin: Add Book{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/admin.css">
{{end}}

{{define "content"}}
    <div class="d-flex d-flex-col d-gap align-center m-d5">
        <h1>Add Book</h1>
    </div>
    <div class="w-fit">
        {{$book := index .Data "book"}}
        <form action="/admin/books/create" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
            <div class="d-flex justify-between align-center d-gap m-d5">
                <label for="title">Title: </label>
                <input class="c-attribute" type="text" name="title" id="title" value="{{$book.Title}}">
                {{with .Form.Errors.Get "title"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div class="d-flex justify-between align-center d-gap m-d5">
                <label for="description">Description: </label>
                <input class="c-attribute" type="text" name="description" id="description" value="{{$book.Description}}">
                {{with .Form.Errors.Get "description"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div class="d-flex justify-between align-center d-gap m-d5">
                <label for="cover">Cover: </label>
                <input class="c-attribute" type="file" name="cover" id="cover" accept="image/jpeg, image/png">
                {{with .Form.Errors.Get "cover"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div class="d-flex justify-between align-center d-gap m-d5">
                <label for="isbn">ISBN number: </label>
                <input class="c-attribute" type="text" name="isbn" id="isbn" value="{{$book.Isbn}}" autocomplete="off">
                {{with .Form.Errors.Get "isbn"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div class="d-flex justify-between align-center d-gap m-d5">
                <label for="published_date">Published Date: </label>
                <input class="c-attribute" type="date" name="published_date" id="published_date" value="{{$book.PublishedDate}}">
                {{with .Form.Errors.Get "published_date"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div class="d-flex justify-between align-center d-gap m-d5">
                <label for="paperback">Paperback: </label>
                <input class="c-attribute" type="text" name="paperback" id="paperback" value="{{$book.Paperback}}">
                {{with .Form.Errors.Get "paperback"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div class="d-flex justify-between align-center d-gap m-d5">
                <label for="is_active">Is Active: </label>
                <input type="radio" name="is_active" id="is_active" value="false"> False
                <input type="radio" name="is_active" id="is_active" value="true"> True
                {{with .Form.Errors.Get "is_active"}}
                    <label>{{.}}</label>
                {{end}}
            </div>
            <div class="d-flex justify-between align-center d-gap m-d5">
                {{$publishers := index .Data "publishers"}}
                <label for="publisher_id">Published By: </label>
                <select name="publisher_id" id="publisher_id">
                    {{range $publishers}}
                    <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </select>
                {{with .Form.Errors.Get "publisher_id"}}
                <label>{{.}}</label>
                {{end}}
            </div>
            <input class="add-button" type="submit" value="Add">
        </form>
    </div>
{{end}}

{{define "js"}}
    <script src="/static/js/admin.js"></script>
{{end}}