{{template "admin" .}}

{{define "title"}}User Detail{{end}}

{{define "css"}}
<link rel="stylesheet" href="/static/css/admin.css">
{{end}}

{{define "content"}}
{{$res := index .Data "user"}}
{{$kyc := index .Data "kyc"}}
<div>
    <div>
        <h1>User: {{$kyc.FirstName}} {{$kyc.LastName}}</h1>
        <form action="/admin/users/detail/{{$res.ID}}" method="post">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <div>
                <p><strong>Username: </strong>@{{$res.Username}}</p>
                <p><strong>Password: </strong>{{$res.Password}}</p>
                <p><strong>Joined At: </strong>{{TimeSince $res.CreatedAt}}</p>
                <p><strong>Updated At: </strong>{{TimeSince $res.UpdatedAt}}</p>
                <p><strong>Last Login: </strong>{{TimeSince $res.LastLogin}}</p>
            </div>
            <div>
                <label for="email">Email: </label>
                {{with .Form.Errors.Get "Email"}}
                <label>{{.}}</label>
                {{end}}
                <input type="email" name="email" id="email" value="{{$res.Email}}">
            </div>
            <div>
                <label for="access_level">Access Level: </label>
                {{with .Form.Errors.Get "access_level"}}
                <label>{{.}}</label>
                {{end}}
                <select name="access_level" id="access_level">
                    <option value=1 {{if eq $res.AccessLevel 1}} selected {{end}}>1</option>
                    <option value=2 {{if eq $res.AccessLevel 2}} selected {{end}}>2</option>
                    <option value=3 {{if eq $res.AccessLevel 3}} selected {{end}}>3</option>
                </select>
            </div>
            <input type="submit" value="Update">
        </form>
        <button onclick="openModal('delete-{{$res.ID}}')">Delete</button>

        <div class="jw-modal" id="delete-{{$res.ID}}">
            <div class="jw-modal-body">
                <form action="/admin/users/detail/{{$res.ID}}/delete" method="post">
                    <input type="hidden" name="csrf_token" id="csrf_token" value="{{$.CSRFToken}}">
                    <p>Do you want to delete @{{$res.Username}}?</p>
                    <input type="submit" value="Delete Record">
                    <button type="button" onclick="closeModal()">No</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div>
        <h2>Know Your Customer(KYC)</h2>
        <div>
            <img src="/{{$kyc.ProfilePic}}" alt="profile_pic" width="200px" height="200px">
        </div>
        <div>
            <form action="/admin/users/detail/{{$res.ID}}/profile" method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <label for="profile_pic">Profile Picture</label>
                <input type="file" name="profile_pic" id="profile_pic" accept="image/png, image/jpeg">
                <input type="submit" value="Upload">
            </form>
        </div>
        <div>
            <p><strong>Document Type: </strong>{{$kyc.DocumentType}}</p>
            <p><strong>Document number: </strong>{{$kyc.DocumentNumber}}</p>
            <p><strong>Document front: </strong>{{$kyc.DocumentFront}}</p>
            <p><strong>Document back: </strong>{{$kyc.DocumentBack}}</p>
        </div>
    </div>

</div>

{{end}}

{{define "js"}}
<script src="/static/js/admin.js"></script>
{{end}}