{{template "admin" .}}

{{define "title"}}Admin: All Genres{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/admin.css">
{{end}}

{{define "content"}}
    <div class="d-flex d-flex-col align-center">
        <div>
            <h1>All Genres</h1><hr>
        </div>
        <div>
            {{$res := index .Data "add_genre"}}
            <form action="/admin/genres" method="post">
                <input type="hidden" name="csrf_token" id="csrf_token" value="{{.CSRFToken}}">
                <label for="title">Genre Title: </label>
                <input type="text" name="title" id="title"  {{if $res.Title}} value="{{$res.Title}}" {{end}} class="search-all-books-input">
                {{with .Form.Errors.Get "title"}}
                <label>{{.}}</label>
                {{end}}
                <input type="submit" value="Add New Genre" class="add-button">
            </form>
        </div>
        <div>
            <h2>Add New Genre</h2>
            {{$genre := index .Data "genres"}}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $genre}}
                    <tr>
                        <td>{{.ID}}</td>
                        <td>{{.Title}}</td>
                        <td>
                            <div class="action-icons">
                                <button type="button"><a href="/admin/genres/detail/{{.ID}}"><img src="/static/images/edit-icon.png" alt="update-icon"/></a></button>
                            <button type="button" onclick="openModal('delete-{{.ID}}')" 
                            ><img width="19px" height="19px" src="/static/images/del-icon.png" alt="del-icon" /></button>
                            </div>
                            <div id="delete-{{.ID}}" class="jw-modal">
                                <div class="jw-modal-body">
                            
                                    <form action="/admin/genres/detail/{{.ID}}/delete" method="post">
                                        <p>Do you want to delete @{{.Title}}?</p>
                                        <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                                        <input type="submit" value="Delete" class="add-button">
                                        <button type="button" onclick="closeModal()" class="del-button">No</button>
                                    </form>
                                </div>
                            
                            </div>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script src="/static/js/admin.js"></script>
{{end}}