{{template "admin" .}}

{{define "title"}}Admin: Detail Book{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/admin.css">
{{end}}

{{define "content"}}
    <div class="d-flex d-flex-col d-gap m-d5 justify-center align-center">
        <h1>Book Detail</h1>
    </div>
    <div class="d-flex d-flex-col justify-center align-center d-gap">
        {{$book := index .Data "book"}}
        <div>
            <img src="/{{$book.Cover}}" alt="{{$book.Title}}" width="200px" height="200px">
        </div>
        <div class="d-flex d-flex-col d-gap justify-between align-center">
            <p><strong>Added At: {{TimeSince $book.AddedAt}}</strong></p>  
            <p><strong>Updated At: {{TimeSince $book.UpdatedAt}}</strong></p>  
        </div>
        <form action="/admin/books/detail/{{$book.ID}}/update" method="post">
            <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
            <p><strong>ID: </strong>{{$book.ID}}</p>
            <div class="d-flex d-gap justify-between align-center">
                <label for="title">Title: </label>
                <input class="c-attribute" type="text" name="title" id="title" value="{{$book.Title}}">
            </div>
            <div class="d-flex d-gap justify-between align-center">
                <label for="description">Description: </label>
                <input class="c-attribute" type="text" name="description" id="description" value="{{$book.Description}}">
            </div>
            <div class="d-flex d-gap justify-between align-center">
                <label for="isbn">ISBN number: </label>
                <input class="c-attribute" type="text" name="isbn" id="isbn" value="{{$book.Isbn}}">
            </div>
            <div class="d-flex d-gap justify-between align-center">
                <label for="published_date">Published Date: </label>
                <input class="c-attribute" type="datetime" name="published_date" id="published_date" value="{{DateOnly $book.PublishedDate}}">
            </div>
            <div class="d-flex d-gap justify-between align-center">
                <label for="paperback">Paperback: </label>
                <input class="c-attribute" type="text" name="paperback" id="paperback" value="{{$book.Paperback}}">
            </div>
            <div class="d-flex d-gap justify-between align-center">
                <label for="is_active">Is Active: </label>
                {{if eq $book.IsActive false}}
                <input type="radio" name="is_active" id="is_active" value="false" checked> False
                <input type="radio" name="is_active" id="is_active" value="true"> True
                {{else}}
                <input type="radio" name="is_active" id="is_active" value="false"> False
                <input type="radio" name="is_active" id="is_active" value="true" checked> True
                {{end}}
            </div>
            <div class="d-flex d-gap justify-between align-center">
                {{$publishers := index .Data "publishers"}}
                {{$publisher := index .Data "publisher"}}
                <label for="publisher_id">Published By: </label>
                <select name="publisher_id" id="publisher_id">
                    <option value="{{$publisher.ID}}" selected>{{$publisher.Name}}</option>
                    {{range $publishers}}
                    <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </select>
            </div>
            <input class="add-button" type="submit" value="Update">
            <button type="button" class="del-button" onclick="openModal('delete-{{$book.ID}}')">Delete</button>
        </form>
        <div id="delete-{{$book.ID}}" class="jw-modal">
            <div class="jw-modal-body">
                <form action="/admin/books/detail/{{$book.ID}}/delete" method="post" >
                    <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                    <p>Do you want to delete @{{$book.Title}}</p>
                    <input type="submit" value="Delete" class="del-button">      
                    <button type="button" onclick="closeModal()" class="add-button">No</button>
                </form>
            </div>
        </div>
        
    </div>
{{end}}

{{define "js"}}
    <script src="/static/js/admin.js"></script>
{{end}}