{{template "admin" .}}

{{define "title"}}Admin: All Reviews{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/admin.css">
{{end}}

{{define "content"}}
{{$reviews := index .Data "reviews"}}
{{$allBooks := index .Data "allBooks"}}
{{$allUsers := index .Data "allUsers"}}

    <div>
        <h1>Review List</h1>
        <button><a href="/admin/reviews/create">Add</a></button>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Review ID</th>
                    <th>Rating</th>
                    <th>Body</th>
                    <th>User ID</th>
                    <th>Book ID</th>
                    <th>Created AT</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{range $reviews}}
                <tr>
                    
                    <td>{{.ID}}</td>
                    <td>{{.Rating}}</td>
                    <td>{{.Body}}</td>
                    <td>{{.UserID}}</td>
                    <td>{{.BookID}}</td>
                    <td>{{TimeSince .CreatedAt}}</td>
                    <td>
                        <button><a href="/admin/reviews/detail/{{.ID}}">Detail</a></button>
                        <button id="delete-{{.ID}}" onclick="showDeleteForm(this, '{{.ID}}')">Delete</button>
                        <form action="/admin/reviews/detail/{{.ID}}/delete" method="post" class="no-display" id="{{.ID}}">
                            <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                            <p>Do you want to delete this review @{{.ID}}?</p>
                            <input type="submit" value="Delete">
                            <button onclick="removeForm('{{.ID}}')" type="button">No</button>
                        </form>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}

{{define "js"}}
    <script src="/static/js/admin.js"></script>
{{end}}