{{template "base" .}}

{{define "title"}}Contact Us{{end}}

{{define "content"}}
    <div class="d-flex container text-orange">
        <div class="d-flex-col d-center">
            <div>
                <h1>Contact Us</h1>
            </div>
            <div>
                {{$c := index .Data "contact"}}
                <form action="/contact-us" method="post">
                    <input type="hidden" name="csrf_token" value={{.CSRFToken}}>
                    <div>
                        <label for="first_name">First Name: </label>
                        {{with .Form.Errors.Get "first_name"}}
                            <label>{{.}}</label>
                        {{end}}
                        <input type="text" name="first_name" id="first_name" value="{{$c.FirstName}}">
                    </div>
                    <div>
                        <label for="last_name">Last Name: </label>
                        {{with .Form.Errors.Get "last_name"}}
                            <label>{{.}}</label>
                        {{end}}
                        <input type="text" name="last_name" id="last_name" value="{{$c.LastName}}">
                    </div>
                    <div>
                        <label for="email">Email: </label>
                        {{with .Form.Errors.Get "email"}}
                            <label>{{.}}</label>
                        {{end}}
                        <input type="text" name="email" id="email" value="{{$c.Email}}">
                    </div>
                    <div>
                        <label for="phone">Phone: </label>
                        {{with .Form.Errors.Get "phone"}}
                            <label>{{.}}</label>
                        {{end}}
                        <input type="text" name="phone" id="phone" value="{{$c.Phone}}">
                    </div>
                    <div>
                        <label for="subject">Subject: </label>
                        {{with .Form.Errors.Get "subject"}}
                            <label>{{.}}</label>
                        {{end}}
                        <input type="text" name="subject" id="subject" value="{{$c.Subject}}">
                    </div>
                    <div>
                        <label for="message">Message: </label>
                        {{with .Form.Errors.Get "message"}}
                            <label>{{.}}</label>
                        {{end}}
                        <input type="text" name="message" id="message" value="{{$c.Message}}">
                    </div>
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>
    </div>
{{end}}