{{template "base" .}}

{{define "title"}}Book Review PlatForm{{end}}

{{define "content"}}
<main>
    <section id="hero">
        <h1>BookWorm</h1>
        <p>
            Welcome to a Book Review Platform 
        </p>
        <a href="/admin">Admin</a>
    </section>
</main>
{{end}}