{{template "base" .}}

{{define "title"}}Login{{end}}

{{define "content"}}
<div class="d-flex">
    <div class="container d-flex-col text-orange">
        {{$res := index .Data "user"}}
        <div class="container-box">
            <form action="/user/login" method="post" class="form-group" novalidate>
                <h1>Login</h1>
                <input type="hidden" name="csrf_token" id="csrf_token" value="{{.CSRFToken}}">
        
                <div class="mt-3 form-container">
                    <input type="text" name="username" id="username" placeholder="Username"
                    class="form-control {{with .Form.Errors.Get "username"}} is-invalid {{end}}"
                    value="{{$res.Username}}" required
                    >
                    <div class="error-msg">
                        {{with .Form.Errors.Get "username"}}
                            <label class="text-danger"><small>{{.}}</small></label>
                        {{end}}
                    </div>
                </div> 
                <div class="mt-3 form-container">
                    <input type="password" name="password" id="password" placeholder="Password"
                    class="form-control {{with .Form.Errors.Get "password"}} is-invalid {{end}}"
                    value="{{$res.Password}}" required
                    >
                    <div class="error-msg">
                        {{with .Form.Errors.Get "password"}}
                            <label class="text-danger"><small>{{.}}</small></label>
                        {{end}}
                    </div>
                </div>        
                <div class="btn-div"><input type="submit" value="Login" class="btn"></div>
            </form>
            <div class="d-flex justify-center m-t5"><a href="/user/reset-password">Forget Password?</a></div>
            <div class="d-flex justify-center m-t5 m-d5"><a href="/user/register">Don't have account?</a></div>
        </div>
    </div>
</div>
{{end}}