{{template "base" .}}



{{define "meta"}}
{{end}}


{{define "title"}}Profile{{end}}

{{define "content"}}
    <div class="container">
        {{$res := index .Data "user_profile"}}
        <div>
            <h1>User Profile: {{$res.FirstName}} {{$res.LastName}}</h1>
        </div>
        <div>
            <img src="/{{$res.ProfilePic}}" alt="{{$res.Username}}" width="300px" height="auto" class="profile_img">
        </div>
        <div>
            <p><strong>Username: </strong>{{$res.Username}}</p>
            <p><strong>Email: </strong>{{$res.Email}}</p>
            <p><strong>Gender: </strong>{{$res.Gender}}</p>
            <p><strong>Address: </strong>{{$res.Address}}</p>
            <p><strong>Phone: </strong>{{$res.Phone}}</p>
            <p><strong>Date Of Birth: </strong>{{DateOnly $res.DateOfBirth}}</p>
            <p><strong>Document Type: </strong>{{$res.DocumentType}}</p>
            <p><strong>Document Number: </strong>{{$res.DocumentNumber}}</p>
            <p><strong>Document Front: </strong>{{$res.DocumentFront}}</p>
            <p><strong>Document Back: </strong>{{$res.DocumentBack}}</p>
            <p><strong>Joined At: </strong>{{TimeSince $res.CreatedAt}}</p>
            <p><strong>Updated At: </strong>{{TimeSince $res.UpdatedAt}}</p>
            <p><strong>Last Login: </strong>{{TimeSince $res.LastLogin}}</p>
            <p><strong></strong></p>
        </div>
    </div>
{{end}}




{{define "js"}}
    <script src="/static/js/profile.js"></script>
{{end}}