{{template "base" .}}

{{define "title"}}{{$author := index .Data "author"}}{{$author.FirstName}}{{$author.LastName}}{{end}}


{{define "content"}}
{{if eq .IsAuthenticated 1}}
    <input type="hidden" id="user_id" value="{{.UserID}}">
    {{else}}
    <input type="hidden" id="user_id" value='0'>
{{end}}
    {{$author := index .Data "author"}}
    <input type="hidden" id="author_id" value="{{$author.ID}}">
    
    <section>
        <div class="container text-white">
            <div class="d-flex d-gap text-orange">
                <div class="d-flex d-flex-col d-gap d-dark pr-2 m-2r align-center b-radius w-150r h-fit">
                    <img src="/{{$author.Avatar}}" class="profile_img" alt="{{$author.FirstName}}" width="200px" height="300px">
                    <h1>{{$author.FirstName}} {{$author.LastName}}</h1>
                    <div class="d-flex d-flex-col">
                        {{ if eq .IsAuthenticated 1}}
                        <button type="button" class="btn" id="follow">Follow</button>
                        <button type="button" class="btn" id="unfollow">UnFollow</button>
                        {{end}}
                    </div>
                </div>
                <div class="d-flex d-flex-col d-gap d-dark pr-2 m-2r b-radius w-300r"> 
                    <p><strong>Bio:</strong></p>
                    <p>{{$author.Bio}}</p>
                    <p><Strong>Date Of Birth: </Strong>{{$author.DateOfBirth}}</p>
                    <p><strong>Email: </strong>{{$author.Email}}</p>
                    <p><strong>Country of Origin: </strong>{{$author.CountryOfOrigin}}</p>
                </div>
            </div>
            <div class="d-flex d-flex-col text-center m-2r d-dark b-radius d-gap pr-2">
                <h1>Books Written by Author</h1>
                {{$books := index .Data "books"}}
                <div class="card-box-container">
                {{range $books}}
                    {{ if ne .ID 0}}
                    <div class="card-box">
                        <a href="/books/{{.Isbn}}">
                            <div class="card-img">
                                <img src="/{{.Cover}}" alt="img-{{.Title}}">
                            </div>
            
                            <div class="card-text">
                                <span>{{.Title}}</span>
                            </div>
                        </a>
                    </div>
                    {{end}}
                {{end}}
                </div>                
            </div>
        </div>
    </section>
{{end}}

{{define "js"}}
    <script src="/static/js/follower.js"></script>
{{end}}