{{template "base" .}}

{{define "title"}}About Us{{end}}

{{define "content"}}
<section class="recent-books-section">
        <div class="container d-dark b-radius m-br2">
            <div class="d-flex d-flex-col d-gap justify-center align-center">
                <h1 class="text-white">About Us</h1>
            <div>
            <div class="card-box-container">
                <p class="text-white">BookWorm is a Book Review Platform. Here User can write review and rating to books, add books to read list and buy list, can follow the author, search for books, request books and so on.</p>
            </div>
        </div>
    </section>

{{end}}

{{define "js"}}

{{end}}