{{template "base" .}}

{{define "title"}}{{$publisher := index .Data "publisher"}}{{$publisher.Name}}{{end}}

{{define "css"}}
<link rel="stylesheet" href="/static/css/modal.css">
{{end}}


{{define "content"}}
{{$publisher := index .Data "publisher"}}
<section>
    <div class="container">
        <div class="d-flex text-orange d-gap">
            <div class="d-flex d-flex-col d-gap d-dark pr-2 m-2r align-center b-radius w-150r h-fit">
                <img src="/{{$publisher.Pic}}" alt="{{$publisher.Name}}" width="200px" height="auto" class="b-radius">
                <h1>{{$publisher.Name}}</h1>
            </div>
            <div class="d-flex d-flex-col d-gap d-dark pr-2 m-2r b-radius w-300r">
                <p><strong>Description:</strong></p>
                <p>{{$publisher.Description}}</p>
                <p><strong>Address: </strong>{{$publisher.Address}}</p>
                <p><strong>Phone: </strong>{{$publisher.Phone}}</p>
                <p><strong>Email: </strong>{{$publisher.Email}}</p>
                <p><strong>Website: </strong><a href="{{$publisher.Website}}">{{$publisher.Website}}</a></p>
                <p><strong>Established Date: </strong>{{$publisher.EstablishedDate}}</p>
            </div>
        </div>
        <div class="d-flex d-flex-col text-center m-2r d-dark b-radius d-gap pr-2">
            <h1>Books By The Publisher</h1>
            {{$books := index .Data "books"}}
            <div class="card-box-container">
            {{range $books}}
                {{ if ne .Isbn 0}}
                <div class="card-box">
                    <a href="/books/{{.Isbn}}">
                        <div class="card-img">
                            <img src="/{{.Cover}}" alt="img-{{.Title}}">
                        </div>
        
                        <div class="card-text">
                            <span>{{.Title}}</span>
                        </div>
                    </a>
                </div>
                {{end}}
            {{end}}
            </div>                
        </div>
    </div>
</section>
{{end}}

{{define "js"}}
{{end}}