{{template "base" .}}

{{define "title"}}Book Review PlatForm{{end}}

{{define "content"}}
<main>
    <section>
        <div class="search-section">
            <div class="container d-grid">
                <p class="title-heading">
                    BookWorm
                </p>
                <p class="title-paragraph">
                    Welcome to Booktopia, where bookworms and literature enthusiasts unite! Dive into the world of
                    endless literary adventures, thought-provoking reviews, and exhilarating recommendations.
                </p>
                <div class="home-search">
                    <form class="search" method="post">
                        <input type="search" name="search" id="search" placeholder="Search...">
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="top-rated-section">
        <div class="container">
            <section aria-label="Top 10 Random Rated Books">
                <h1 class="text-center text-white">Top Rated Books</h1>
                <!-- slider container -->
                <div class="slider">
                    {{$topRatedBooks := index .Data "topRatedBooks"}}
                        {{range $topID, $topRated := $topRatedBooks}}
                    <!-- slide 4 -->
                    <a href="/books/{{$topRated.Book.Isbn}}">
                        <div class="slide d-flex d-flex-row d-gap">
                            <img src="{{$topRated.Book.Cover}}"
                                alt="Img1" width="250px" heigth="350px">
                            <div>
                                <h1>{{$topRated.Book.Title}}</h1>
                                <p><strong>Author: </strong>
                                    {{range $i, $author := $topRated.Authors}}
                                            {{$author.FirstName}} {{$author.LastName}}{{if ne $i $topRated.LenAuthors}},{{end}}                                        
                                    {{end}}
                                </p>
                                <p><strong>Description: </strong>
                                    {{$topRated.Book.Description}}
                                </p>
                                <p><strong>Published Date: </strong>{{$topRated.Book.PublishedDate}}</p>
                                <p><strong>Rating: </strong>{{$topRated.AverageRating}}</p>
                            </div>
                        </div>
                    </a>
                    {{end}}

                    <!-- Control buttons -->
                    <button class="carousel-btn carousel-btn-next">&#8658</button>
                    <button class="carousel-btn carousel-btn-prev">
                        &#8656
                </div>
            </section>
        </div>
    </section>
</main>
{{end}}

{{define "js"}}
<script src="/static/js/public_home.js"></script>
{{end}}