{{template "base" .}}

{{define "title"}}Books{{end}}


{{define "content"}}
<main>
    <section class="container d-flex-col d-dark b-radius m-br2">
        <div class="d-flex justify-center d-gap search-all-books">
            <input type="hidden" id="search-type" value="books">
            <input type="search" class="search-all-books-input" id="search-book" placeholder="Search Book..." onkeyup="display()">
            <select id="order" onchange="display()">
                <option value="asc">Ascending Order</option>
                <option value="desc" >Descending Order</option>
            </select>
            <select id="limit" onchange="display()">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="d-flex justify-center">
            
        </div>
    </section>
    <section class="container d-flex-col text-orange d-dark b-radius m-br2">
        <div class="card-heading text-center">
            <span>Books</span>
        </div>
        <div class="card-box-container" id="displayDiv">
            
        </div>

    </section>

    <nav class="container-nopadding pagination-container d-dark b-radius">

        <div id="pagination-numbers">

        </div>

    </nav>

    </section>
</main>
{{end}}

{{define "js"}}
    <script src="/static/js/search.js"></script>
{{end}}