{{template "base" .}}

{{define "title"}}Register{{end}}

{{define "content"}}
<div class="d-flex">
    <div class="container d-flex-col text-orange">
        {{$res := index .Data "register"}}
        <div class="container-box">
            <form action="/user/register" method="post" enctype="multipart/form-data" class="form-group" novalidate>
                <h1>Register</h1>
                <input type="hidden" name="csrf_token" id="csrf_token" value="{{.CSRFToken}}">    
                <div class="m-t5 form-container">
                    <input type="text" name="email" id="email"
                    class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" placeholder="Email Address"
                    autocomplete="off" required value={{$res.Email}}
                    >
                    <div class="error-msg">
                        {{with .Form.Errors.Get "email"}}
                        <label class="text-danger">{{.}}</label>
                        {{end}}
                    </div>
                </div>
                <div class="m-t5 form-container">
                    <input type="text" name="username" id="username"
                    class="form-control {{with .Form.Errors.Get "username"}} is-invalid {{end}}" placeholder="Username"
                    autocomplete="off" required value={{$res.Username}}
                    >
                    <div class="error-msg">
                    {{with .Form.Errors.Get "username"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                    </div>
                </div>
    
                <div class="m-t5 form-container">                    
                    <input type="password" name="password" id="password"
                    class='form-control {{with .Form.Errors.Get "password"}} is-invalid {{end}}' placeholder="Password"
                    autocomplete="off" required value={{$res.Password}}
                    >
                    <div class="error-msg">
                        {{with .Form.Errors.Get "password"}}
                        <label class="text-danger">{{.}}</label>
                        {{end}}
                    </div>
                </div>

                <div class="m-t5 form-container">                    
                    <input type="password" name="password2" id="password2"
                    class='form-control {{with .Form.Errors.Get "password2"}} is-invalid {{end}}' placeholder="Confirm Password"
                    autocomplete="off"
                    >
                    <div class="error-msg">
                        {{with .Form.Errors.Get "password2"}}
                        <label class="text-danger">{{.}}</label>
                        {{end}}
                    </div>
                </div>

                <div class="btn-div m-t5"><input type="submit" value="Register" class="btn"></div>
            </form>
            <div class="d-flex justify-center m-t5 m-d5"><a href="/user/login">Already have an account? Login</a></div>
        </div>
    </div>
</div>
{{end}}