{{template "base" .}}

{{define "title"}}Reset Password{{end}}

{{define "content"}}
<div class="d-flex">
    <div class="container d-flex-col text-orange">
        <div class="container-box">
            {{$res := index .Data "reset_user"}}
            <form action="/user/reset-password" method="post" novalidate class="form-group">
                <h1>Reset Password</h1>
                <input type="hidden" name="csrf_token" id="csrf_token" value="{{.CSRFToken}}">
                <div class="form-container">
                    <input type="email" name="email" id="email" value="{{$res.Email}}" class="form-control" placeholder="Email Address..." required>
                    <div class="error-msg">
                        {{with .Form.Errors.Get "email"}}
                        <label class="text-danger">{{.}}</label>
                        {{end}}
                    </div>
                </div>
                <div class="btn-div m-t5"><input type="submit" value="Send" class="btn"></div>
            </form>
        </div>
    </div>
</div>
{{end}}