{{template "base" .}}

{{define "title"}}Reset Password{{end}}

{{define "content"}}
    <div>
        
        <div>
            <h1>Reset Password</h1>
        </div>
        <div>
            {{$res := index .Data "reset_user"}}
            <form action="/user/reset-password" method="post" novalidate>
                <input type="hidden" name="csrf_token" id="csrf_token" value="{{.CSRFToken}}">
                <div>
                    <label for="email">Email Address: </label>
                    {{with .Form.Errors.Get "email"}}
                        <label>{{.}}</label>
                    {{end}}
                    <input type="email" name="email" id="email" value="{{$res.Email}}" required>
                </div>
                <input type="submit" value="send">
            </form>
        </div>
    </div>
{{end}}