/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap'); */

/* Box sizing rules*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margin, padding and font-size */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a.nav-links {
  text-decoration: none;
  cursor: pointer;
}
/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Remove animations and transition on window resize */
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}


:root{
    --clr-primary:hsl(0, 0%, 96%);
    --clr-secondary:hsl(193, 38%, 43%);
    --clr-hover: #9bd0df;
    --clr-accent:black;
    
    --bs-1:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      
    --fs-800:2rem;
    --fs-400:1rem;
    --fs-300:0.875rem;
    --fs-200:0.75rem;

    --fw-100:100;
    --fw-200:200;
    --fw-300:300;
    --fw-400:400;
    --fw-500:500;
    --fw-600:600;
    --fw-700:700;
    --fw-800:800;
    --fw-900:900;
    
}

body {
    font-family: 'Open Sans';
    font-weight: var(--fw-400);
    font-size: var(--fs-400);
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
    gap: var(--gap, 1rem);
    justify-content: var(--jc, center);
    align-items: var(--ai, center);
}

.d-grid {
    display: grid;
    gap: var(--gap, 1rem);
    align-items: var(--ai, center);
    justify-content: var(--jc, center);
}

.d-flex-row {
  flex-direction: row;
}
.d-flex-col {
  flex-direction: column;
}
.d-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.d-gap {
  gap: 20px;
}

.d-gap-1 {
  gap: 1px;
}
.w-75 {
  width: 100%;
}
.w-50 {
  width: 50%;
}

.w-50r {
  width: 50rem;
}

.w-20r {
  width: 20rem;
}

.h-1r {
  height: 1rem;
}

.w-1r {
  width: 1rem;
}

.h-fit {
  height: fit-content;
}

.w-fit {
  width: fit-content;
}
.m-t5 {
  margin-top: 5px;
}

.m-5 {
  margin: 5px;
}

.m-t5r {
  margin-top: 5rem;
}

.m-d5 {
  margin-bottom: 5px;
}

.m-2r {
  margin: 2rem;
}

.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}

.pr-2 {
  padding: 2rem;
}

.m-i5 {
  margin-inline: 5px;
}

.m-b5 {
  margin-block: 5px;
}

.m-ir2 {
  margin-inline: 2rem;
}

.m-br2 {
  margin-block: 2rem;
}

.text-center {
  text-align: center;
}

.w-6 {
  width: 2rem;
}

.h-6 {
  height: 2rem;
}

.c-black {
  color: black;
}

.b-radius {
  border-radius: 25px;
}

.b-shadow {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-primary {
    --jc:space-between;
    padding: 1.5rem 2rem;
    box-shadow: var(--bs-1);
    background-color: var(--clr-primary);
}

.logo a {
    font-size: var(--fs-800);
    color: var(--clr-secondary);
    font-weight: var(--fw-700);
}

.nav-links.closed {
  transform: translateX(-100%);
}

/* Show the nav links when it's open */
.nav-links.open {
  transform: translateX(0);
  display: block;
}
.nav-link a {
  color: var(--clr-secondary);
}

.nav-link a i {
  padding-inline: 2px;
}

.nav-link :is(:hover){
  color: var(--clr-accent);
}

.sidebar-toggle-btn {
  display: none;
}

.nav-sidebar{
    background-color: var(--clr-secondary);
    box-shadow:var(--bs-1) ;
    width: clamp(200px, 15vw,256px);
    transition: transform 0.3s ease;
}

.nav-sidebar li{
    padding: 1rem 2rem;
}

.nav-sidebar :is(li,a):is(:hover,:focus-visible,){
    background-color: var(--clr-hover);
    color: var(--clr-accent);
}

.nav-sidebar-link-clicked {
  background-color: var(--clr-hover);
}

.nav-sidebar a {
    color: var(--clr-primary);
    font-weight: var(--fw-700);
}

.nav-sidebar.closed {
  transform: translateX(-100%);
}

/* Show the sidebar when it's open */
.nav-sidebar.open {
  transform: translateX(0);
  display: block;
}

.main{
    grid-template-columns: 1fr 4fr;
    --ai:start;
    --jc:start;
}

.main-content {
  max-width: 1200px;
  width: 800px;
  /* Set a maximum width for the container */
  margin: 10px;
  /* Center the container horizontally */
  padding: 20px;
}

.main-content-title{
  width: auto;
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}

.add-button{
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  background: #438496;
  border: none;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.add-button a{
  text-decoration: none;
  color: white;
}
.del-button{
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  background: red;
  border: none;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.del-button a{
  text-decoration: none;
  color: white;
}

/* Main table design section */
.main-content-table{
  width: 105%;
  /* overflow: auto; */
}

table{
  border-collapse: separate;
  border-spacing: 0px 15px;
  width: 100%;
  overflow: hidden;
  padding: 10px;
}

tr {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

th,td{
  padding: 18px;
  border-radius: 25px;
  text-align: center;
} 

tbody tr{
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.action-icons{
  display: flex;
  justify-content: space-around;
}

.action-icons button{
  border: none;
  cursor: pointer;
}

/* Pagination design */
.pagination-section{
  margin: 10px;
  align-content: center;
}

.pagination-links{
  display: flex;
  justify-content: center;
}
.pagination-links a{
  color: #000;
  margin-right: 20px;
}
.pagination-links a:not(:first-child):not(:last-child){
  font-weight: bolder;
}


.search-all-books {
  margin: 10px auto;
  width: 75%;
}


.search-all-books-input {
  width: 15rem;
  height: 40px;
  transition: width 0.4s ease-in-out;
  border: 1px solid gray;
  border-radius: 25px;
  text-indent: 20px;

}

.search-all-books-input:hover {
  border: 2px solid gray;
}

.search-all-books-input:focus {
  border: 3px solid gray;
  width: 35rem;
  border-color: gray;
  box-shadow: 0 0 5px rgba(94, 154, 212, 0.5);
}

@media (max-width: 500px) {
  .search-all-books {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search-all-books-input:focus {
    width: 20rem;
  }
}


select {
  border: 2px solid gray;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(128, 128, 128, 0.1);
  padding: 10px;
  font-size: 14px;
  height: 40px;
  max-width: 200px;
}

select:hover {
  cursor: pointer;
}

select option {
  background-color: #f9f9f9;
  color: #333;
  border-radius: 25px;
  width: 150px;
}

select:focus {
  /* Adjust border and box-shadow on focus */
  border-color: #5e9ad4;
  box-shadow: 0 0 5px rgba(94, 154, 212, 0.5);
}


/* Add a media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .main {
    grid-template-columns: 1fr; /* Change to a single column layout */
  }

  .nav-sidebar {
    width: 100%; /* Take up the full width of the screen */
    display: none;
  }

  .sidebar-toggle-btn {
    display: block;
    cursor: pointer;
  }  
  
  .nav-sidebar li {
    padding: 0.5rem 1rem; /* Reduce the padding for smaller screens */
  }
}

/* Add a media query for screens with a maximum width of 480px */
@media (max-width: 480px) {
  .nav-primary {
    flex-direction: column; /* Stack the navigation items vertically */
    align-items: flex-start; /* Align the items to the start of the container */
    padding: 1rem; /* Reduce the padding for smaller screens */
  }

  .sidebar-toggle-btn {
    display: block;
    cursor: pointer;
  }

  .nav-links {
    margin-top: 1rem; /* Add some spacing between the logo and navigation items */
    display: none;
  }

  .nav-sidebar {
    display: none; /* Hide the sidebar navigation on smaller screens */
  }

  .main-content {
    margin-top: 1rem; /* Add some spacing between the header and main content */
  }
}


.no-display {
    display: none;
}


/* Pagination css */

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.pagination-number,
.pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 25px;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
}

.pagination-number.pg-active {
  color: #fff;
  background: orange;
}

/* end pagination css */

/*  user create */
.c-attribute{
  padding: 12px 20px 12px 20px;
  width: 370px;
  background: #F7F7F7;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
  border-radius: 6px;
  font-size: 15px;
}

  
/* .username{
  width: 100%;
  height: 40px;
  background: #F7F7F7;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin-bottom: 20px;
}
.password{
  width: 100%;
  height: 40px;
  background: #F7F7F7;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin-bottom: 20px;
}

.email{
  width: 100%;
  height: 40px;
  background: #F7F7F7;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin-bottom: 20px;
} */


.add-form-buttons{
  display: flex;
  justify-content: center;
}

.c-b-attribute{
  padding: 12px 25px 12px 25px;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 15px;
  margin-right: 10px;
}


.register-button{
  background: #438496;
  cursor: pointer;
}

.cancel-button{
  background: #E94C4C ;
  cursor: pointer;
}
/* user end */