{{define "admin"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf_token" content="{{.CSRFToken}}">
    {{with .Error}}
    <meta name="message" content="{{.}}">
    <meta name="type" content="error">
    {{end}}
    {{with .Flash}}
    <meta name="message" content="{{.}}">
    <meta name="type" content="flash">
    {{end}}
    {{with .Warning}}
    <meta name="message" content="{{.}}">
    <meta name="type" content="warning">
    {{end}}
    {{block "meta" .}}
    
    {{end}}
    <title>{{block "title" .}}{{end}}</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/css/notification.css">
    <link rel="stylesheet" href="/static/css/modal.css">
    {{block "css" .}}

    {{end}}
</head>
<body>
<header class="nav-header">
    <nav class="nav-primary d-flex">
        <span class="logo d-flex">
                <div class="sidebar-toggle-btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <a href="/admin">BookWorm Admin</a>
        </span>
        
        <div class="nav-links">
            <ul class="d-flex">
                <li class="nav-link"><a href="/" class="d-flex d-gap-1"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-1r h-1r">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                  </svg>
                  PUBLIC SITE</a></li>
                <li class="nav-link"><a href="#" class="d-flex d-gap-1"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-1r h-1r">
                    <path stroke-linecap="round" d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25" />
                  </svg>
                  ADMIN</a></li>
                <li class="nav-link"><a href="/user/logout" class="d-flex d-gap-1"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-1r h-1r">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                  </svg>
                  LOGOUT</a></li>
            </ul>
        </div>
    </nav>
    </header>
    <main>
        <section class="main d-grid">
            <nav class="nav-sidebar">
                <ul>
                {{$url := index .Data "base_path"}}
                    <li class="{{if eq $url "/admin/users"}} nav-sidebar-link-clicked {{end}}"><a href="/admin/users">USER</a></li>
                    <li class="{{if eq $url "/admin/genres"}} nav-sidebar-link-clicked {{end}}"><a href="/admin/genres">GENRES</a></li>
                    <li class="{{if eq $url "/admin/publishers"}} nav-sidebar-link-clicked {{end}}"><a href="/admin/publishers">PUBLISHERS</a></li>
                    <li class="{{if eq $url "/admin/authors"}} nav-sidebar-link-clicked {{end}}"><a href="/admin/authors">AUTHORS</a></li>
                    <li class="{{if eq $url "/admin/languages"}} nav-sidebar-link-clicked {{end}}"><a href="/admin/languages">LANGUAGES</a> </li>
                    <li class="{{if eq $url "/admin/books"}} nav-sidebar-link-clicked {{end}}"><a href="/admin/books">BOOKS</a></li>
                    <li class="{{if eq $url "/admin/bookAuthors"}} nav-sidebar-link-clicked {{end}}"><a href="/admin/bookAuthors">BOOK-AUTHORS</a></li>
                    <li class="{{if eq $url "/admin/bookGenres"}} nav-sidebar-link-clicked {{end}}"><a href="/admin/bookGenres">BOOK-GENRES</a></li>
                    <li class="{{if eq $url "/admin/bookLanguages"}} nav-sidebar-link-clicked {{end}}"><a href="/admin/bookLanguages">BOOK-LANGUAGES</a></li>
                    <li class="{{if eq $url "/admin/readLists"}} nav-sidebar-link-clicked {{end}}"><a href="/admin/readLists">READ LIST</a></li>
                    <li class="{{if eq $url "/admin/buyLists"}} nav-sidebar-link-clicked {{end}}"><a href="/admin/buyLists">BUY LIST</a></li>
                    <li class="{{if eq $url "/admin/followers"}} nav-sidebar-link-clicked {{end}}"><a href="/admin/followers">FOLLOWERS</a></li>
                    <li class="{{if eq $url "/admin/reviews"}} nav-sidebar-link-clicked {{end}}"><a href="/admin/reviews">REVIEWS</a></li>
                    <li class="{{if eq $url "/admin/contacts"}} nav-sidebar-link-clicked {{end}}"><a href="/admin/contacts">CONTACTS</a></li>
                    <li class="{{if eq $url "/admin/request-books"}} nav-sidebar-link-clicked {{end}}"><a href="/admin/request-books">REQUESTED BOOKS</a></li>
                </ul>  
            </nav> 
            <section class="main-content">
                {{block "content" .}}
                {{end}}
            </section>
        </section>
    </main>
                

    <div id="toastBox"></div>
    <script src="/static/js/admin.js"></script>
    <script src="/static/js/notification.js"></script>
    <script src="/static/js/modal.js"></script>
    {{block "js" .}}
    {{end}}    
</body>
</html>
{{end}}