{{define "admin"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf_token" content="{{.CSRFToken}}">
    {{with .Error}}
    <meta name="message" content="{{.}}">
    <meta name="type" content="error">
    {{end}}
    {{with .Flash}}
    <meta name="message" content="{{.}}">
    <meta name="type" content="flash">
    {{end}}
    {{with .Warning}}
    <meta name="message" content="{{.}}">
    <meta name="type" content="warning">
    {{end}}
    {{block "meta" .}}
    
    {{end}}
    <title>{{block "title" .}}{{end}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/notification.css">
    {{block "css" .}}

    {{end}}
</head>
<body>
    <a href="/">Public Site</a>
    <a href="/user/logout">Logout</a>
    <hr>
    <a href="/admin/users">Users</a>
    <a href="/admin/genres">Genres</a>
    <a href="/admin/publishers">Publishers</a>
    <a href="/admin/authors">Authors</a>
    <a href="/admin/languages">Languages</a>
    <a href="/admin/books">Books</a>
    <a href="/admin/bookAuthors">BookAuthors</a>
    <a href="/admin/bookGenres">BookGenres</a>
    <a href="/admin/bookLanguages">BookLanguages</a>
    <a href="/admin/readLists">Read List</a>
    <a href="/admin/buyLists">Buy List</a>
    <a href="/admin/followers">Followers</a>
    <a href="/admin/reviews">Reviews</a>
    <a href="/admin/contacts">Contacts</a>

    {{block "content" .}}

    {{end}}

    <div id="toastBox"></div>

    <script src="/static/js/notification.js"></script>
    {{block "js" .}}

    {{end}}    
</body>
</html>
{{end}}